---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <h1 class="text-3xl font-bold">Hi, my name is An.</h1>
    <p>
      I’m a self-taught developer with {new Date().getFullYear() - 2015} years
      of experience in web development.
    </p>
    <p>
      Currently, I work full-time as a full stack web developer, while also
      engaging in building hobby projects and freelancing on the side.
    </p>
    <p>
      I love acquiring new knowledge and exploring different ways to solve
      problems.
    </p>
    <p>
      In my leisure time, I play footballs and enjoy spending time in nature by
      biking or trekking near the forest.
    </p>
  </div>
</BaseLayout>
